{% extends "layout.html" %}

{% block title %}
    Welcome
{% endblock %}

{% block main %}
    <div class="container">
        <h2>Welcome to CS50W Book Reviews!</h2>
        <h5 class="text-muted">Register below for a CS50W Book Review account</h4>
    </div>
    <form action="/search" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" type="text">
        </div>
        <div class="form-group">
            <input class="form-control" name="password" placeholder="Password" type="password">
        </div>
        <div class="form-group">
            <input class="form-control" name="confirmation" placeholder="Please confirm password" type="password">
        </div>
        <button class="btn btn-primary" type="submit">Register</button>
    </form>
{% endblock %}